$bg-color: #e1e6ec;
$primary-color: #eff5fd;
$secondary-color: #cfd6dd;
$font-color: #4d5766;
$font-secondary-color: #a9b1bd;
$max-w-sm: 600px;
$max-w-md: 960px;
$max-w-lg: 1200px;

// mixins
@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin shadow-md {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin load-animation {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background: $secondary-color;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@mixin bounce {
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(-15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@mixin ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  @keyframes ping {
    75%,
    100% {
      transform: scale(1.1);
      opacity: 5%;
    }
  }
}

@mixin notification($color, $online) {
  @include flex-center;
  width: 100%;
  margin: 2rem 0;

  svg {
    @if $online {
      @include ping;
    }
  }

  h3 {
    color: $color;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}

// base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "IBM Plex Sans", sans-serif;
  color: $font-color;

  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

body {
  @include flex-center;
  min-height: 100vh;
  background-color: $bg-color;
  padding: 0 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include flex-center;
  @include shadow;
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(-5%);
    background-color: #dfdfdf;
  }
}

// components
.container {
  @include shadow-md;
  @include flex-center;
  background-color: $primary-color;
  transition: all 0.1s ease-in-out;
  color: $font-color;
  font-weight: 500;
  max-width: $max-w-lg;
  padding: 3.5rem 6rem;
  border-radius: 0.7rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 4rem;
}

@media screen and (max-width: $max-w-md) {
  .container {
    width: 100vw;
    padding: 3rem 3rem;
    background-color: $bg-color;
    box-shadow: none;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
  }
}

@import "./login";
@import "./song";
@import "./library";
@import "./onlineUser";
